<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.hr.dao.book">

	<sql id="book-select">
		select isbn,
			title,
			author,
			page,
			price,
			publish_date,
			publisher_no
		from book
	</sql>

	<insert id="insertBook" parameterType="book">
		insert into book(isbn, title, author, page, price, publish_date, publisher_no)
		values (#{isbn}, #{title}, #{author}, #{page}, #{price}, #{publishDate}, #{publisherNo})
	</insert>
	
	<select id="selectBookList" resultType="publisher">
		<include refid="book-select"/>
	</select>
	
	<select id="selectBookListByAuthor" parameterType="string" resultType="book">
		<include refid="book-select"/>
		where author = #{value}
	</select>
	
	<select id="selectBookListByDate" parameterType="map" resultType="book">
		<include refid="book-select"/>
		where publish_date between #{startDate} and #{endDate}
	</select>
	
	<resultMap type="book" id="book-resultmap">
		<id column="isbn" property="isbn"/>
		<result column="title" property="title"/>
		<result column="author" property="author"/>
		<result column="page" property="page"/>
		<result column="price" property="price"/>
		<result column="publish_date" property="publishDate"/>
		<result column="publisher_no" property="publisherNo"/>
		<association property="publisher" javaType="publisher">
			<id column="publisher_no" property="publisherNo"/>
			<result column="publisher_name" property="publisherName"/>
			<result column="publisher_address" property="publisherAddress"/>
			<result column="publisher_tel" property="publisherTel"/>
		</association>
	</resultMap>
	
	<select id="selectBookListByIsbn" parameterType="string" resultMap="book-resultmap">
		select bk.isbn,
			bk.title,
			bk.author,
			bk.page,
			bk.price,
			bk.publish_date,
			bk.publisher_no,
			pub.publisher_name,
			pub.publisher_address,
			pub.publisher_tel
		from book bk, publisher pub
		where bk.isbn=#{value} and bk.publisher_no = pub.publisher_no
	</select>
	

	
</mapper>
